.home {
    width: 100%;
  }

.home-button {
    margin-top: 4.5em;
    width: 660px;
    height: 150px;
    font-size: 2em;
    border-radius: .5em;
    border-style: double 1px;
    border-color: black;
   
}


.row {
    display: flex;
    margin-left: 230px;
    margin-right: 230px;
}
