.withdrawal {
    height: 100%;
    width: 100%;  
    justify-content: center;
    margin-top: 3em;
}

.withdrawal-input{
    margin: 3em 40em auto 40em;
    justify-content: center;
 
}

.deposit-button {
    width: 100px;
    height: 56px;
    margin-left: 15px;
}