.withdrawal {
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}

input {
    width: 1000px;
    height: 50px
}

.deposit-button {
    width: 70px;
    height: 56px;
    margin-left: 15px;
}