.withdrawal {
    height: 100%;
    width: 100%;  
    justify-content: center;
    margin-top: 3em;
}

.withdrawal-input{
    margin: 3em 25em auto 25em;
    justify-content: center;
 
}

.deposit-button {
    width: 70px;
    height: 56px;
    margin-left: 15px;
}