.App {
  text-align: center;
}

.App-header {
  font-family: "Roboto", sans-serif;;
  background-color: #0c000e;
  display: flex;
  padding-left: 10%;
  justify-content: flex-start;
  color: rgb(218, 218, 218);
}

.body {
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}

input {
  width: 1000px; height: 50px
}

button {
  width: 70px; 
  height: 58px;
  margin-left: 15px;
}