.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  font-family: "Roboto", sans-serif;;
  background-color: #0c000e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(218, 218, 218);
}

.App-link {
  color: #61dafb;
}
